
<html>
<head>
	<link rel='stylesheet' href='style.css'/>
	<script src='script.js'></script>
</head>
<body>

<br>
<p align="center">
<font size="10" color="blue"><b>Internet Basics</font>
</p></b>

<center><img src="https://media.giphy.com/media/14gk0Z5xk7QGpW/giphy.gif"style="width:175px;height:175px;"border="5"/></center>
<p align="center">
<br><font size="4">The internet can be confusing for people who didn't grow up with it. <br>This website is here to teach you some useful tools to get acquainted with it! <br><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#concept"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<br>
<A NAME="concept">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>



<br><font size="4"><center>First, let's talk about the concept of the internet itself. <br><br>Think of your computer as a library where you can store all sorts of things. <br>You can store pictures, documents, music, and almost anything you can think of! </center></font></p>
<br></p>
<center><img src="https://media.giphy.com/media/10m15fek4s8uTS/giphy.gif"style="width:500px;height:300px;"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#encyclopedia"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="encyclopedia">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">The internet is like an encyclopedia (but more fun and with more information). <br><br>You can find the answer to almost  any question you could possibly think of. <br><br>You can talk to friends without having to pick up a phone. <br><br>You can listen to your favorite songs that no longer play on the radio. <br><br>We'll discuss how to do those things in a moment.</font>
<br>
  <center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#tool"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="tool">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">Look up at the top of your screen. That strip with all the buttons is the tool bar. <br>These can vary depending on your browser, but they often have some similar buttons. <br><br>Your tool bar may look like the image below.</font></p>
<br>
<center><img src="https://i-msdn.sec.s-msft.com/dynimg/IC510625.jpg"style="width:500px;height:128px;"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#back"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="back">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">First is the back button. It will usually look like an arrow pointing to the left. <br><br>You can click on this with your mouse and it will take you to the previous webpage you were on. <br>It's sort of like flipping to a previous page in a book.</font></p>
<br>
<center><img src="http://i1-news.softpedia-static.com/images/fitted/340x180/google-chrome-to-block-backspace-key-from-working-as-back-button.png"style="width:300px;height:128px;"border="5"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#forward"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="forward">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">To the right of the back button is the forward button. <br>It is also an arrow, but it will point to the right. <br><br>Clicking the forward button is like flipping to the next page in a book. <br><br>If you'd like, you can test it out! <br>Try clicking the back button first, and then click on the forward button to return to this page!</font></p>
<br>
<center><img src="http://www.un.org/events/workshop/dpi-unitar/2003/browsers/History1.gif"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#refresh"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="refresh">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">A very important button is the refresh button. <br>You can use this for a variety of reasons, but it always reloads the webpage. <br><br>Say you're expecting an email and haven't gotten it yet. You could refresh the page to see if it will show up. <br>Or sometimes the webpage hasn't loaded correctly. You might refresh it to fix the problem! <br><br>You can try it out if you like. Hitting the refresh button will keep you on this website, but it will reload itself.</font></p>
<br>
<center><img src="http://kemp21stcentury.weebly.com/uploads/1/7/1/4/17142550/how-to-reload-a-web-page-in-google-chrome-1_1_orig.png"border="5"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#address"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="address">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">This long rectangle is the the address bar. This is where you type in the destination you want to visit. <br>It is much like writing an address on a letter and mailing the letter to that place, but this is much faster!</font></p>
<br>
<center><img src="http://www.webcalldirect.com/resource/images/sms/browser.gif"border="5"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#websites"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="websites">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">Chances are, you won't visit every destination on the internet. There are millions of websites! <br>Most of us have just a few we use. Some popular ones are google.com, facebook.com, and youtube.com. <br><br>If you like, you can try typing one of those websites into the address bar! <br><br>Try typing google.com into the address bar, hit the enter button, <br>and then use your mouse to click on the back button to return to this page!</font></p>
<br>
<center><img src="http://neilpatel.com/wp-content/uploads/2016/10/google.jpg"style="width:400px;height:220px;"border="5"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#google"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="google">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">Since we've talked about some popular websites, let's talk about what you can actually do on those websites. <br><br>We'll start with google.com. Google is a search engine. <br>Essentially what that means is it's the index of the internet. You can use it to find what you're looking for. <br><br>Just go to google.com using the address bar, type in what you want to find, and then click on the links that come up!</font></p> <br>
<center><img src="https://media.licdn.com/mpr/mpr/p/8/005/076/23d/2770cd9.jpg"style="width:400px;height:280px;"border="5"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#judge"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="judge">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">You can find almost anything on the internet. <br><br>You could search for pie recipes, the news, or the answer to a question. <br><br>Perhaps you'd like to know how tall Judge Judy is? <br>You can search "how tall is judge judy" and google will tell you how tall she is!</font>
<br>
<center><img src="http://i.imgur.com/zKz3RGi.png"style="width:650px;height:400px;"/></center>
  <center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#wiki"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="wiki">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">Google will often pull up results from another very popular website- wikipedia.com. <br><br>Wikipedia is very useful. It has pages on celebrities, animals, and pretty much every notable thing you could think of! <br>For instance, if you wanted to know more about cats, you could type in wikipedia's search bar "cat" and find a page on it!</font></p>
<br>
<center><img src="http://2.bp.blogspot.com/-pb-U-027TkQ/UtfqVYelNMI/AAAAAAAAYCs/0sn3d0vcOhA/s1600/Wiki-cats.png"style="width:800px;height:500px;"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#email"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="email">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">Another great tool is email. Email stands for electronic mail and that's exactly what it is! <br>You can use it to send letters to your friends that reach them instantly! <br><br>You can sign up for an email address (which is the address people would type in to send you an email) for free! <br>Then you can send letters and receive letters. <br><br>You can type out anything you want and even attach pictures and videos that you have stored on your computer! </font></p>
<br>
<center><img src="http://www.webdevelopersnotes.com/tips/hotmail/email-message-display-hotmail.jpg"style="width:500px;height:370px;"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#youtube"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="youtube">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">We've talked about useful websites, so now let's talk about a few fun ones! <br><br>A really entertaining website to use is youtube.com. Anyone can put videos on youtube or watch them. <br>You can go to youtube.com, find the search bar, and type in what you want to see. <br><br>You can find videos of almost anything! You can listen to music, too! <br><br>Think of something you'd like to see or listen to. Is there a song you really like?<br>Simply type what you want to watch into the search bar and click on the video you'd like to see.</font></p>
<br>
<center><img src="https://i.imgur.com/hrRKynT.gif;"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#facebook"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="facebook">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>

<br><p align="center"><br><font size="4">The last website we're going to talk about is facebook.com. <br><br>This is a very popular site that many people use. <br>You probably have friends and/or family members that use it. <br><br>Facebook is kind of like email, except that when you post something on facebook <br>everyone you are friends with on the website will see it. <br><br>This can be very useful if you'd like to share a picture with your family or you'd like to see pictures that your family put on there. <br><br>Think of facebook as a photo album, a journal, and email put into one! <br>And you and your friends and family will have access to it all the time so you can always <br>look at pictures of your grandkids whenever you want!</font></p>
<br>
<center><img src="https://media.gcflearnfree.org/content/5762bf2df67fad1208a7fc46_06_16_2016/background.png"style="width:750px;height:450px;"/></center>
<center><br>Click the arrow below to view the next page!</font> </br></p>
<center><A HREF="#end"><img src="https://media.giphy.com/media/ZgQOPmWzsI5qw/giphy.gif"style="width:130px;height:130px;"/></A></center>
<A NAME="end">
<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>


<br><p align="center"><br><font size="4">The sites listed above are used very often. <br>Of course, there are many other websites out there. <br>They are not listed because it would take a very long time to discuss all of them. <br>And, hopefully, with your new knowledge of the internet you can find them yourself! <br>Just google what you're looking for!</font></p>

<center><img src="https://media.giphy.com/media/DedtjZjTpMAsU/giphy.gif"style="width:300px;height:350px;"/></center>

<center>Nicole Kallas 2017</center>

<img src="http://www.freeiconspng.com/uploads/blue-line-png-1.png"style="width:100%;height:150px;"/>
  
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
</body>
</html>
